/* Data Element */

.data-element {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  > span {
    
  }
  
  &[data-popup-trigger] {
    position: relative;
    
    &:hover > .popup-body {
      opacity: 1;
      z-index: 20;
    }
  }
  
  .popup-body {
    padding: 1em;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color $black
    color $white
    opacity: 0;
    border-radius 10px
    box-shadow 0px 0px 24px 2px rgba(176,176,176,1)
    z-index -1;
    transition: 0.3s;
  }
}

/* Hero */

$heroHeight = 300px;

.hero {
  position: relative;
  width: 100vw;
  height: $heroHeight;

  &:before {
    content: "";
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }

  > .content {
    absoluteCenterer()
    z-index: 1;

    > .title {
      color: white;
      text-align: center;
      font-size: 3.2rem;
      font-weight: bold;
    }
    > .address {
      color: white;
      text-align: center;
    }
    
    > .editor-rating {
      text-align: center;
      color: white;
    }
  }
}

/* Star Maker */

i {
  &.icon-empty-star:before {
    ion-icon("ios-star-outline");
  }
  
  &.icon-half-star:before {
    ion-icon("ios-star-half");
  }
  
  &.icon-full-star:before {
    ion-icon("ios-star");
  }

  &.icon-wifi:before {
    ion-icon("wifi");
  }

  &.icon-shit-wifi:before {
    ion-icon("wifi");
    color: $grey;
  }
}

/* Sub Nav */

.sub-nav {
  background: $blue;
  padding: 20px 0;
  position: relative;
  display: flex;
  justify-content: space-between;

  &:before, &:after {
    content: "";
    background: $blue;
    height: 100%;
    width: 1500px;
    top: 0;
    position: absolute;
  }
  
  &:before {
    right: 100%;
  }
  
  &:after {
    left: 100%;
  }
  
  > a {
    flex-size: 1;
    height: 100%;
    width: 33.3333%;
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: white
    text-decoration: none;
    text-align: center;
  }
}


/* Spinning loader */

.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  z-index: 9999;
}


