/* Data Element */

.data-element {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  
  &[data-popup-trigger] {
    position: relative;
    
    &:hover {
      overflow: visible;
      > .popup-body {
        opacity: 1;
        z-index: 20;
      }
    }
  }
  
  .popup-body {
    padding: 1em;
    position: absolute;
    width: 30em;
    font-size: 1.2em;
    line-height: 1.2em;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $black;
    color: $white;
    opacity: 0;
    border-radius 10px;
    box-shadow 0px 0px 24px 2px rgba(176,176,176,1);
    z-index -1;
    transition: 0.3s;
    
    &:before {
      ion-icon('arrow-up-b');
      position: absolute;
      top: -26px;
      font-size: 50px;
      left: 50%;
      transform: translate(-50%, 0);
      color: #000;
    }
  }
}


/* Bg image wrapper */

.bg-image-wrapper {
  position: relative;
  
  .bg-image-credit {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: $grey;
    z-index: 900;
    
    a {
      color: $grey;
    }
    
    em {
      font-style: italic;
    }
  }
}



/* Hero */

$heroHeight = 300px;

.hero {
  position: relative;
  width: 100vw;
  height: $heroHeight;

  &:before {
    content: "";
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }

  > .content {
    absoluteCenterer()
    z-index: 1;

    > .title {
      color: $white;
      font-family: Open Sans;
      text-align: center;
      margin-bottom: 10px;
      font-size: 3.2rem;
      font-weight: bold;
    }
    
    > .address {
      color: $white;
      font-size: 1.8rem;
      text-align: center;
    }
    
    > .distance {
      color: $grey;
      font-size: 1.8rem;
      margin-top: 20px;
      text-align: center;
    }

    > .editor-rating {
      text-align: center;
      color: $white;
      font-size: 28px;
      margin-bottom: 15px;
      .icon-full-star {
        padding: 2px;
      }
    }
  }
}

/* Star Maker */

i {
  &.icon-empty-star:before {
    ion-icon("ios-star-outline");
  }
  
  &.icon-half-star:before {
    ion-icon("ios-star-half");
  }
  
  &.icon-full-star:before {
    ion-icon("ios-star");
  }

  &.icon-wifi:before {
    ion-icon("wifi");
  }

  &.icon-shit-wifi:before {
    ion-icon("wifi");
    color: $grey;
  }

  &.icon-close:before {
    ion-icon("close-circled");
  }
}

/* Section Header */

.section-header {
  background: $blue;
  font-family: Montserrat;
  padding: 20px 0;
  font-weight: bold;
  color: $white;
  font-size: 2rem;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 20px;
  
  &.no-marg {
    margin-bottom: 0;
  }
}

/* Cafe Description */

.cafe-description {
  margin: 20px 20px;
  font-size: 1.8rem;
  line-height: 2em;
  max-width: 800px;
}



/* Rating Item */

.rating-item {
  float: left;
  width: 50%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid $grey-light;
  
  +below($tablet-max-width) {
    width: 100%;
  }
  
  h3 {
    font-size: 1.8rem;
    flex-basis: 0;
    flex-grow: 1;
  }
  
  .rating-item-value {    
    flex-basis: 0;
    flex-grow: 1;
    p, a {
      display: block;
      overflow: ellipsis;
      // overflow: hidden; 
      // $white-space: nowrap;
    }
  }
}

.boolean {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 1.8rem;
  text-transform: uppercase;
  
  &.yes {
    color: green;
  }
  
  &.no {
    color: red;
  }
}

/* Opening Times */

.opening-times {
  padding-left: 20px;
  
  .day {
    display: flex;
    font-size: 1.8rem;
    margin-bottom: 20px;
    width: 100%;
    justify-content: space-between;
  }

  .day-name {
    flex-basis: 0;
    flex-grow: 1;
  }

  .time {
    flex-basis: 0;
    flex-grow: 3;
    +below($mobile-max-width) {
      flex-grow: 1;
    }
  }

}




/* Spinning loader */

.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  z-index: 9999;
}

/* Overlay */

.overlay-modal {
  absoluteCenterer()
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
  z-index: -1;
  transition: 0.5s;
  &.show {
    opacity: 1;
    z-index: 9990;
  }
}


/* Error message popup */
.error-message {
  text-align: center;
  z-index: 9998;
  width: 80%;
  margin: 30px auto;

  background-color: $white;
  border-radius: 10px;
  color: $red;
  font-size: 5rem;
  padding: 0.5em;
    
  +below($mobile-max-width) {
    width: 95%;
    font-size: 3rem;
  }
    
  p {
    margin: 1em 0;
  }
}


/* Static Map */

.static-map {
  
  +below($mobile-max-width) {
    position relative
    display block
    height 300px
    overflow hidden
    
    > img {
      absoluteCenterer()
      width 600px
      max-width 9999px
    }
  }
}

/* Comments */

.comment-thread {
  padding: 0 20px;
}

/* About Popup */

.about-popup {
  absoluteCenterer()
  
  font-weight normal
  padding 25px
  
  background white
  color black
  position fixed
  z-index: -1;
  opacity: 0;
  transition: 0.3s;
  box-shadow 0px 0px 24px 2px rgba(0,0,0,0.6);
  top: -100%;
  
  +below($mobile-max-width) {
    width: 80%;
  }
  
  .show > & {
    display: block !important;
    top: 50%;
    opacity: 1;
    z-index: 9992;
  }
  
  > h2 {
    font-size: 2.5rem;
    font-family: Montserrat;
    font-weight: bold;
    margin-bottom: 1em;
  }
  
  > p {
    line-height 1.7em
    margin-bottom 1em
  }
  
  .close-button {
    color: $grey-dark;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  
  h3 {
    font-weight: 900;
    margin-bottom: 10px
  }
}

/* Mobile menu popup */

.mobile-menu {
  opacity: 0;
  background: rgba(255,255,255,0.9);
  height: 0;
  width: 0;
  position: fixed;
  right: 0;
  top: 0;
  transform: scale(0);
  z-index: -1;
  padding-top: 10px;
  transition: 0.3s;
  
  li {
    a {
      display: block;
      padding: 20px;
      font-size: 2rem;
      color: $blue;
      text-align: center;
      text-decoration: none;
      transition: 0.3s;
      &:hover, &:active {
        background: $blue;
        color: white;
      }
    }
  }
  
  &.show {
    height: 100%;
    width: 100%;
    transform: scale(1);
    opacity: 1;
    z-index: 9000;
  }
  
  .close {
    color red;
    position: absolute;
    top 20px;
    right 20px;
    &:before {
      font-size: 3rem;
      ion-icon('close');
    }
  }
}


/* icon button */

.icon-button {
  cursor: pointer;
  background-color: transparent;
  color: $grey;
  font-size: 1.5rem;
  border: none;
  padding: 0;
}

