/* Data Element */

.data-element {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &[data-popup-trigger] {
    position: relative;
    
    &:hover > .popup-body {
      opacity: 1;
      z-index: 20;
    }
  }
  
  .popup-body {
    padding: 1em;
    position: absolute;
    width: 30em;
    font-size: 1.2em;
    line-height: 1.2em;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $black;
    color: $white;
    opacity: 0;
    border-radius 10px;
    box-shadow 0px 0px 24px 2px rgba(176,176,176,1);
    z-index -1;
    transition: 0.3s;
    
    &:before {
      ion-icon('arrow-up-b');
      position: absolute;
      top: -26px;
      font-size: 50px;
      left: 50%;
      transform: translate(-50%, 0);
      color: #000;
    }
  }
}

/* Hero */

$heroHeight = 300px;

.hero {
  position: relative;
  width: 100vw;
  height: $heroHeight;

  &:before {
    content: "";
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }

  > .content {
    absoluteCenterer()
    z-index: 1;

    > .title {
      color: white;
      font-family: Open Sans;
      text-align: center;
      margin-bottom: 10px;
      font-size: 3.2rem;
      font-weight: bold;
    }
    > .address {
      color: white;
      font-size: 1.8rem;
      text-align: center;
    }
    
    > .editor-rating {
      text-align: center;
      color: white;
      font-size: 28px;
      margin-bottom: 15px;
      .icon-full-star {
        padding: 2px;
      }
    }
  }
}

/* Star Maker */

i {
  &.icon-empty-star:before {
    ion-icon("ios-star-outline");
  }
  
  &.icon-half-star:before {
    ion-icon("ios-star-half");
  }
  
  &.icon-full-star:before {
    ion-icon("ios-star");
  }

  &.icon-wifi:before {
    ion-icon("wifi");
  }

  &.icon-shit-wifi:before {
    ion-icon("wifi");
    color: $grey;
  }
}

/* Section Header */

.section-header {
  background: $blue;
  font-family: Montserrat;
  padding: 20px 0;
  font-weight: bold;
  color: white;
  font-size: 2rem;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* Cafe Description */

.cafe-description {
  margin: 20px 20px;
  font-size: 1.8rem;
  line-height: 2em;
  max-width: 800px;
}

/* Rating Item */

.rating-item {
  float: left;
  width: 50%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid $grey-light;
  
  +below($tablet-max-width) {
    width: 100%;
  }
  
  h3 {
    font-size: 1.8rem;
    flex-basis: 0;
    flex-grow: 1;
  }
  
  .rating-item-value {    
    flex-basis: 0;
    flex-grow: 1;
    p, a {
      display: block;
      overflow: ellipsis;
      // overflow: hidden; 
      // white-space: nowrap;
    }
  }
}

/* Opening Times */

.opening-times {
  padding-left: 20px;
}

.day {
  display: flex;
  font-size: 1.8rem;
  margin-bottom: 20px;
  width: 100%;
  justify-content: space-between;
}

.day-name {
  flex-basis: 0;
  flex-grow: 1;
}

.time {
  flex-basis: 0;
  flex-grow: 3;
}



/* Spinning loader */

.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  z-index: 9999;
}


