/* Structure Styles to extend */

main {
  container()
  
  > section {
    clearfix();
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* Header Styles */

.header {
  background: #62B2FC;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 25px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  h1 {
    background: url('/img/logo.png') center center no-repeat;
    height: 37px;
    width: 331px;
    position: relative;
    text-indent: -9999px;    
  }
  
  +below($mobile-max-width) {
    h1 {
      background-position -225px center;
      width: 110px;
    }
  }
} 

.dropdown {
  color: white;
  font-weight: bold;
  font-family: Open Sans;
  font-size: 2.4rem;
  margin-left: 20px;
  padding: 5px 10px;
  border-bottom: 3px white solid;
  
  +below($mobile-max-width) {
    font-size: 1.5rem;
  }
}

.main-nav {
  display: flex;
  align-items: center;
  
  ul {
    display: flex;
  }
  
  li {
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 25px;
  }
  
  a {
    color white
    text-decoration none
    font-family Montserrat
  }
}

/* Home listings */

.item-list {
  container()
  +below($mobile-max-width) {
    padding: 0 10px;
  }
}

$item {
  color: $grey-darker;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.item {
  @extend $item;
  height: 5rem;
  &:hover {
    background: $grey-light;
  }
}

.item > div {
  flex-basis: 0;
  flex-grow: 1;
  height: 100%;
  text-align: center;
  
  &.cost {
    +below($mobile-max-width) {
      display none
    }
  }
}

.item-header-wrapper {
  background: $blue;
}

.item-header {
  @extend $item;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto 0;
  line-height: 2rem;
  > div {
    font-family: Open Sans;
    flex-basis: 0;
    flex-grow: 1;
    color: white;
    line-height: 2rem;
    font-weight bold;
    font-size: 1.8rem;
    text-align: center;
    padding: 2rem 0 ;
  }
  
  +below($mobile-max-width) {
    padding: 0 10px;
  }
  
  .cost-header {
    +below($mobile-max-width) {
      display none
    }
  }
}


