/* Structure Styles to extend */

main {
  container()
  
  > section {
    clearfix();
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* Header Styles */

.header {
  background: #62B2FC;
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 5px 20px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  h1 {
    background: url('/img/logo.png') center center no-repeat;
    height: 37px;
    width: 331px;
    position: relative;
    text-indent: -9999px;    
  }
  
  +below($mobile-max-width) {
    h1 {
      background-position -225px center;
      width: 110px;
    }
  }
} 

.dropdown {
  color: white;
  font-weight: bold;
  font-family: Open Sans;
  font-size: 2.4rem;
  margin-left: 20px;
  padding: 5px 10px;
  border-bottom: 3px white solid;
  
  +below($mobile-max-width) {
    font-size: 1.5rem;
  }
}

.main-nav {
  display: flex;
  align-items: center;
  
  > ul {
    display: flex;
  
    .mobile-button {
      i:before {
        color white
        font-size: 3rem;
        ion-icon("navicon-round"); 
      }
      
      &:hover {
        i:before {
          color $blue
        }
      }
    }
    
    > li {
      font-size: 1.8rem;
      font-weight: bold;
      height: 100%;
      transition: 0.2s;
      
      &:first-child {
        display: none;
      }
      
      +below($mobile-max-width){
        display: none;
        &:nth-child(1) {
          display: block
        }
      }

      & > a {
        color white
        display: block;
        text-decoration none
        padding: 20px 25px;
        font-family Montserrat
        transition: 0.2s;
      }
      
      &:hover {
        background: white;
        & > a {
          color: $blue;
        }
      }
    }
  }
}

/* Home listings */

.item-list {
  container()
  +below($mobile-max-width) {
    padding: 0 10px;
  }
}

$item {
  color: $grey-darker;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.item {
  @extend $item;
  height: 5rem;
  &:hover {
    background: $grey-light;
  }
}

.item > div {
  padding: 5px;
  flex-basis: 0;
  flex-grow: 1;
  height: 100%;
  text-align: center;
  width: auto;
  transition: 0.5s;
  
  +below($mobile-max-width) {
    font-size: 1.4rem;
  }
  
  &.hidden {
    width: 0;
  }

  &.cost {
    +below($tablet-max-width) {
      display none
    }
  }
  
  &.wifi {
    +below($mobile-max-width) {
      display none
    }
  }
}

.item-header-wrapper {
  background: $blue;
}

.item-header {
  @extend $item;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto 0;
  line-height: 2rem;
  
  > div {
    font-family: Open Sans;
    flex-basis: 0;
    flex-grow: 1;
    color: white;
    cursor: pointer;
    line-height: 2rem;
    font-weight bold;
    font-size: 1.8rem;
    text-align: center;
    padding: 2rem 0 ;
    transition: 0.5s;
    width: auto;
    
    &.hidden {
      width: 0;
    }

    &.sorted {
      &.asc:after {
        ion-icon('arrow-up-b');
        margin-left: 5px;
      }
      &.desc:after {
        ion-icon('arrow-down-b');
        margin-left: 5px;
      }
    }
  }
  
  +below($mobile-max-width) {
    padding: 0 10px;
  }
  
  .cost-header {
    +below($tablet-max-width) {
      display none
    }
  }
  
  .wifi-header {
    +below($mobile-max-width) {
      display none
    }
  }
}


