@import "_variables"
@import "nib"
@import "rupture"
@import "../../node_modules/font-awesome-stylus/stylus/font-awesome.styl"


global-reset()

html
  font-family $body-font
  font-size 16px
  background-color #fff
  color #000

